{% extends 'base.html' %}
{% load static %}

{% block title %}Excluir Projeto{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/exclusao.css' %}">
{% endblock %}

{% block content %}

<h1>Excluir Projeto</h1>

<p>Tem certeza que deseja excluir o projeto "{{ projeto.nome }}"?</p>

<form method="post">
    {% csrf_token %}

    <button type="submit">Sim, excluir</button>
</form>

<a href="{% url 'listar_projetos' %}">Cancelar</a>
<a href="{% url 'listar_projetos' %}">Voltar para projetos</a>

{% endblock %}