{% extends 'base.html' %}

{% block title %}Tarefas{% endblock %}

{% block content %}

<h1>Tarefas cadastradas</h1>

<a href="{% url 'cadastrar_tarefa' %}">Cadastrar nova tarefa</a>


<ul>
    {% for tarefa in tarefas %}
        <li>
            <strong>{{ tarefa.titulo }}</strong><br>
            Prioridade: {{ tarefa.prioridade }}<br>
            Concluída: {{ tarefa.concluido }}<br>
            Projeto: {{ tarefa.projeto.nome }}<br>

            <a href="{% url 'editar_tarefa' tarefa.id %}">Editar</a>

            <a href="{% url 'excluir_tarefa' tarefa.id %}">Excluir</a>
        </li>
    {% empty %}
        <li>Nenhuma tarefa cadastrada.</li>
    {% endfor %}
</ul>

{% endblock %}