{% extends 'base.html' %}

{% block title %}Projetos{% endblock %}

{% block content %}

<h1>Projetos cadastrados</h1>

<a href="{% url 'cadastrar_projeto' %}">Cadastrar novo projeto</a>

<ul>
    {% for projeto in projetos %}
        <li>
            <strong>{{ projeto.nome }}</strong><br>
            {{ projeto.descricao }}<br>
            {{ projeto.data_inicio }}<br>

            <a href="{% url 'editar_projeto' projeto.id %}">Editar</a>

            <a href="{% url 'excluir_projeto' projeto.id %}">Excluir</a>
        </li>
    {% empty %}
        <li>Nenhum projeto cadastrado.</li>
    {% endfor %}
</ul>

{% endblock %}