{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Sistema de Projetos e Tarefas{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block extra_css %}
    {% endblock extra_css %}
</head>

<body>

    <header>
        <h1>Sistema de Projetos e Tarefas</h1>

        <nav>
            <a href="{% url 'listar_projetos' %}">Projetos</a>
            |
            <a href="{% url 'listar_tarefas' %}">Tarefas</a>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock content%}
    </main>

</body>
</html>